.smex-items
*~$
places
.recentf
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
snippets

# files from lisp packages
__pycache__/
*.pyc

cider-history
ido.last
network-security.data

# games folder
games/

# lisp files
*.elc